/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

a {
  color:#3b6552;
}

a:hover {
  color:#b6bbae !important;
}

p {
  line-height: 2rem;
}

html {
  font-family: Montserrat;
}

footer {
  padding:0%;
}

.card-icons {
  font-size: xx-large;
  padding: 5px;
}

.footer-icons {
  font-size: xx-large;
  padding: 5px;
}

.row {
  margin:0%;
}

.collection a.collection-item {
  display: block;
  -webkit-transition: .25s;
  transition: .25s;
  color: #e3532f;
}

.green {
  color:#3b6552;
  background-color: #3b6552 !important;
}

.orange {
  color: #e3532f;
  background-color: #e3532f !important;
}

.white {
  background-color: #b6bbae !important;
}

.orange-text {
  color: #e3532f !important;
}

.sidenav-trigger {
  color: #e3532f;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.filter1 {
  filter: brightness(.8);
}

.transition1 {
  transition: transform .2s; /* Animation */
  transform: translate(-10px, 10px);
}

.transition1:hover {
  transform: scale(1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  /* filter: saturate(2); */
}

.animation1 {
  animation: overSaturation 1.5s infinite ease-in !important;
}

@keyframes overSaturation {
  from {
    filter: saturate(.75);
  }
  50% {
    filter: saturate(1.5)
  }
  to {
    filter: saturate(.75);
  }
}
